absl-py==2.3.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
annotated-types==0.7.0
astunparse==1.6.3
attrs==25.3.0
autograd==1.7.0
autoray==0.7.0
av==13.1.0
build==1.2.2.post1
cachetools==6.1.0
certifi==2025.6.15
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
cloup==3.0.7
contourpy==1.3.2
cycler==0.12.1
diastatic-malt==2.15.2
dill==0.4.0
distlib==0.3.9
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.58.4
frozenlist==1.7.0
gast==0.6.0
glcontext==3.0.0
google-pasta==0.2.0
idna==3.10

isosurfaces==0.1.2

keras==3.10.0
kiwisolver==1.4.8
libclang==18.1.1
libqasm==1.2.0
mapbox_earcut==1.0.3
markdown-it-py==3.0.0
matplotlib==3.10.3
mdurl==0.1.2
ml_dtypes==0.5.1
moderngl==5.12.0
moderngl-window==3.1.1
mpmath==1.3.0
multidict==6.6.3
namex==0.1.0
networkx==3.5
numpy==1.26.4
oauthlib==3.3.1
opensquirrel==0.5.0
opt_einsum==3.4.0
optree==0.16.0
pandas==2.3.0
pbr==6.1.1
PennyLane==0.40.0
PennyLane_Lightning==0.40.0
pillow==11.3.0
pluggy==1.6.0
ply==3.11
propcache==0.3.2
pycairo==1.28.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydub==0.25.1
pyglet==2.1.6
pyglm==2.8.2
PyJWT==2.10.1
pyparsing==3.2.3
pyproject-api==1.9.1
pyproject_hooks==1.2.0
python-dotenv==1.1.1
pytz==2025.2
pywin32==307
qi-compute-api-client==0.50.0
qiskit==2.1.1
qiskit-aer==0.17.1
-e git+https://github.com/QuTech-Delft/qiskit-quantuminspire.git@22db9cc774cd5fe19a7ce425f25ad111c2a84e76#egg=qiskit_quantuminspire
-e git+https://github.com/QuTech-Delft/quantuminspire.git@82d872c62de28971b1eda46bbb221d155c3caa02#egg=quantuminspire
requests==2.32.4
rich==14.0.0
rustworkx==0.16.0
scipy==1.16.0
scipy-openblas32==0.3.29.0.0
screeninfo==0.8.1
setuptools==80.9.0
shellingham==1.5.4
skia-pathops==0.8.0.post2
srt==3.5.3
stevedore==5.4.1
svgelements==1.9.6
symengine==0.13.0
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tox==4.27.0
typer==0.15.4
typing-inspection==0.4.1
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.31.2
wheel==0.45.1
xgboost==2.1.4
yarl==1.20.1
